.container {
    margin: 0 auto; 
    width: 400px; 
    height: 400px; 
    border: 8px solid rgb(255, 255, 255); 
}
.circle {
    position: absolute; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-name: move; 
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
    animation-direction: reverse; 
    animation-play-state: running;
    animation-delay: 0s;
}
.two{
    animation-delay: 0.1s;
    background-color:rgb(2, 255, 2)
}

.three {
    animation-delay: 0.2s;
    background-color:rgb(8, 240, 8)
}

.four{
    animation-delay: 0.3s;
    background-color:rgb(55, 200, 55)
}

.five{
    animation-delay: 0.4s;
    background-color:rgb(60, 180, 60)
}

.six{
    animation-delay: 0.5s;
    background-color:rgb(80, 160, 80)
}

.seven{
    animation-delay: 0.6s;
    background-color:rgb(90, 150, 90)
}
 @keyframes move {
    0% {
        transform: translateX(0) translateY(0);
    }

    25% {
        transform: translateX(300px); 
    }

    50% {
        transform: translateX(300px) translateY(300px);
    }

    75% {
        transform: translateX(0) translateY(300px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
} 
